@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

.container{
    padding: 0px;
     margin:0px;
     font-family: 'Raleway', sans-serif;
     
    }


form{ 
    max-width: 50vw; 
    margin: 4em auto; 
    position: relative; 
    background: #f4f4f4;
     padding: 2em 3em;
     border-radius: 20px;
    }
form h1{  
    color: #f97300;
    font-weight: 300;
}
form input{
    width: 25vw;
}
form input::placeholder { 
     color: #666;
    font-weight: 200;
    }



