<div class="container">  
    <form id="miForm">
        <div class="form-group">
            <h1 class="text-center text-primary">{{title}}</h1>
            
            <input #nuevaTarea type="text" class="form-control"  placeholder="Escribe una tarea...">
            <button (click)="crear(nuevaTarea.value, $event)">➕</button>
            <ul *ngFor ="let tarea of tareas">
                <li><span>{{tarea.texto}}</span><button (click)="eliminarTarea(tarea.id)">❌</button></li>
            </ul>
        </div>
    </form>
</div> 

